:root{
    --primary-color: #116ACC;
    --light-color: #F5F5F5;
    --dark-color: #1E1E1E;
    --secondary-color: #182233;
    --medium-gray: rgba(228, 228, 228, 0.33);
    --light-red-accent: #F5F0F0;
    --light-gray: #E4E4E4;
    --black:#000;
    --gray1: #1F2937;
    --gray2: #374151;
    --gray3: #4B5563;
    --gray4: #6B7280;
    --gray5: #9CA3AF;
    --gray6: #D1D5DB;
    --gray7: #F3F4F6;    
    --info-color:#A0C3FF;
    --danger-color:#BA0000;
    --success-color:#00BA00;
    --warning-color:#FFC000;
    --input-bg:#F5F5F5;
}